
/* =================================== */
/*	Basic Style 
/* =================================== */
.row::before{
  display: inline-block;
}
.row::after{
  display: inline-block;
}
body {
    background-color: #fff;
    font-family:  'Nunito Sans', sans-serif;
    line-height: 21px;
	  font-size: 13px;
    color: #6a737b;
    overflow-x: hidden;
    width: 100% !important;
}

.container-fluid {
    max-width: 1280px;
    padding: 0 8%;
}

.container-fluid-no-limit {
    max-width: 1980px;
}
.container-fluid-laptop{
  max-width: 1280px;
  margin:0 auto;
}
.box{
  margin:0;
  width: 100%;
  min-height: 100vh;
  padding: 10vh 0;
 }
 
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
h2{
  color:white;
  font-size: 3rem;
  font-weight: 800;
}
h3{
  color: white;
  font-size: 2.1rem;
  font-weight: 600;
}
p{
  color:white;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

span.color {
	color: #bf0d3e;
}

body > section,
.footer {
	padding: 30px 0;
}

.img-logo {
    padding-top: 14px;
    width: 90px;
}

.sec-title {
    width:100%;
}

.sec-title h2 {
  color: #bf0d3e;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
	margin: 35px 0 45px;
    width:100%;
}

.sec-sub-title p {
    font-size: 17px;
    line-height: 31px;
    font-weight: 400;
	color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

@media screen and (max-width: 767px) {
    .devider:before,
    .devider:after {
      content: "__________________";
      color: #e6e8ea;
      position: relative;
      bottom: 6px;
    }
}

@media screen and (min-width: 768px) {
    .devider:before,
    .devider:after {
        content: "______________________";
        color: #e6e8ea;
        position: relative;
        bottom: 6px;
    }
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
  background-color: #ffffff;/*#f3f3f3;*/
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
  max-width: 100%;
}

#preloader img {
    margin-top: 17vh;
    /*box-shadow: 0 0 0 rgba(76, 80, 160, 0.3);*/
    /* animation: pulse 2s infinite; */
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.3);
  }
  70% {
      -webkit-box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.3);
    box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
      box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
      box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
  }
}

@media screen and (min-width: 1280px) {
  .container-fluid-laptop{
    padding: 0 3%;
  }
}
/*=========================================
	Header
==========================================*/
.businessButton{
  padding: 15px 35px !important;
  padding-right: 0;
}
.businessButtonBackground{
    background-image:linear-gradient(to right,#C8B266, #B66D43);
    color: white;
    border: none;
    padding: 9px 15px 9px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 250ms ease-in-out;
    width: 100%;
    font-size: 1.5rem;
}
.businessButtonBackground:hover, .businessButtonBackgroundCurrent{
    background-image:linear-gradient(to right,#FFB443, #FF731E);
}

#navigation {
    background-color: rgb(10, 10, 10);
    border: 0 none;
    margin: 0;

    -webkit-transition: background-color 800ms linear;
    -moz-transition: background-color 800ms linear;
    -ms-transition: background-color 800ms linear;
    -o-transition: background-color 800ms linear;
    transition: background-color 800ms linear;
}

.navbar{
    min-height: 70px;
    width: 100%;
}
.navbar-toggle i {
    color: #fff;
}

.navbar-brand {
    padding: 0;
    padding-top: 10px;
    cursor: pointer;
}
.navbar-header{
  width: 20%;
}

.navbar-right{
  margin-right:4.5%;
}
.collapsing.navbar-collapse {
    border-style: solid;
    border-color: #fff;
    background: #3e3e3e;
    border-width: thin;
}
.navbar-nav li a {
    font-size: 1.5rem;
    border-top: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    padding: 25px 35px;
    cursor: pointer;
}

.nav > li {
    text-align:center;
}
.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
    background-color: transparent;
    border-top: 2px solid #fff;
    color: #fff;
}
.navbar-toggle{
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .container-fluid-laptop{
    padding: 0 8%;
  }
  .collapse.in.navbar-collapse {
    border-style: solid;
    border-color: #fff;
    background: #3e3e3e;
    border-width: thin;
}
 
  .businessButton{
    padding: 25px 35px !important;
    padding-right: 0 !important;
  }
    .current{

        border: 0 !important;
        background-color:#1F1F1F;
    }
    .businessButtonBackground{
      margin-left: 32%;
        padding: 4px 15px 4px 15px;
        width:33%;
        min-width: 100px;
    }
    .navbar-header{
      width: 100%;
      margin-left:0px !important;
    }
    .navbar-brand{
      margin-left: 0 !important;
    }
    .navbar-nav{
      margin-top: 0;
      margin-bottom: 0;
    }
    .container-fluid>.navbar-collapse{
      margin-right: 0 !important;
    }
    .navbar-right{
      margin-right:0;
    }
}
@media screen and (max-width: 575px) {
  .navbar-brand{
      margin-left:5%;
  }
}

/*=========================================
Landing
==========================================*/
#landing{
  padding: 0;
  /* position: absolute;
  top: 0;
  bottom: 0; */
  width: 100%;
  min-height: 700px; 
  height: 100vh; 
  overflow: hidden;
}
#landingVideo{
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  background-position: 50% 50%;
  filter: brightness(30%);
  z-index: -1;
}
.itemsOnLanding h1 img{
  margin-top: 18px;
  margin-left:0.5%;
  width: 1vw;
}
.itemsOnLanding{
  z-index:1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  margin-top: 10%;
}
.itemsOnLanding h1{
  font-size: 5vw;
  font-weight: bold;
}
.itemsOnLanding p{
  padding-top: 10px;
  font-size: 2vw;
}
.downloadButtons{
 margin-left: 75%;
 margin-top: 15%;
 padding-right: 0;
}
.downloadButtons a{
  display: block;
 margin-top: 5%;
 cursor: pointer; 
}
.downloadButtons a img{
  width: 100%;
  display: block;
  
}


@media screen and (max-width: 1200px) {
  .itemsOnLanding h1{
    font-size: 6vw;
  }
  .downloadButtons{
    margin-left: 75%; 
    margin-top: 10%;
  }
}
@media screen and (max-width: 1000px) {
  .itemsOnLanding h1{
    font-size: 6vw;
  }
 
}
@media screen and (max-width: 767px) {
  .itemsOnLanding{
    top: 12%;
  }
  .itemsOnLanding h1{
    font-size: 50px;
  }
  .itemsOnLanding p{
    font-size: 3vw;
  }
  .downloadButtons{
    margin-left: 55%; 
    margin-top: 12%;
  }
  
}
@media screen and (max-width: 520px) {
  .itemsOnLanding{
    top: 12%;
  }
  .itemsOnLanding h1 img{
    margin-top: 20px;
    width: 1vw;
  }
}

/* #slider .carousel-inner .item {
    background-size: cover;
    background-position-x: center;
} */
.space-150 {
    padding-bottom: 150px;
    background-color: #2c2f31;
}
.space-200 {
    padding-bottom: 200px;
    background-color: #2c2f31;
}

/*=========================================
	Nightlife
==========================================*/
#nightlife {
    background-color: #171527;
    border: none;
}
.h2Center{
  text-align: center;
}
.nightlifeSorting{
  margin-top: 3vh;
  margin-left: 25%;
}

/* The container <div>*/
.nightlifeDropdown {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  margin-right: 2%;
}
.nightlifeDropdown img{
  width: 25px;

}
/* The Dropdown Button */
.dropbtn {
  width: 100%;
  background-color: white;
  color: black;
  border: none;
  padding: 8px 0 8px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
  margin-right: 20px;
  background-image: url("../img/page/icon-dropdown.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 95% center;
  border-radius: 50px;
  border: 2px solid white;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: -41px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.nightlifeDropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nightlifeDropdown:hover .dropbtn {
  background-color: grey;
}


.nightlifeSearch {
  width: 100%;
  padding: 8px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 16px;
  color:white;
  background-image: url("../img/page/icon-search.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 95% center;
  border-radius: 50px;
  border: 2px solid white;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  }

.nightlifeDropdownLeftPadding{
  padding:0;
}
  .nightlifeEvents{
    overflow: hidden;
    margin-top: 10%;
  }
  .nightlifeItem{
    border-radius: 30px;
    filter:opacity(50%);
    cursor: pointer;
    margin-bottom: 7%;
  }
  .nightlifeItem:hover{
    filter:opacity(100%);
  }

  .nightlifeItem h3{
    text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  }
  .nightlifeItem p{
    text-align: center;
    color: white;
  }
  .infoTicketSection{
    padding-top: 25%;
    padding-bottom: 5%;
  }
  .item1{
    background-image: url("../img/page/main-page/event1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item2{
    background-image: url("../img/page/main-page/event2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item3{
    background-image: url("../img/page/main-page/event3.png");
    background-repeat: no-repeat;
        background-size: cover;
  }
  .buyTicketSection{
    padding-top: 15%;
    padding-bottom: 15%;
    opacity: 0;
    width: 100%;
    background-color: #4F4F4F;
    border-radius: 0 0 30px 30px;
  }
  .buyTicket {
    margin-top: 1%;
    width: 100%;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
  }
  .nightlifeItem:hover .buyTicketSection {
    transition: all 250ms ease-in-out;
    opacity: 1;
  }
.viewMore {
  margin-top: 12%;
  width:100%;
  background-image:linear-gradient(to right,#FFB443, #FF731E);
  color: white;
  border: none;
  padding: 10px 0 12px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}
@media screen and (max-width: 1280px) {
  .nightlifeItem h3{
    font-size: 2.2vw;
  }
  .nightlifeItem p{
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  .nightlifeSearchLeftPadding{
    padding:0;
  }
  .nightlifeEvents{
    margin-right: 0%;
    margin-left: 0%;
  }
  .nightlifeItem h3{
    margin-top: 16%;
    font-size: 4vw;
  }
  .nightlifeItem p{
    margin-bottom: 3%;
    font-size: 2vw;
  }
 
  .buyTicket {
    padding: 5px 5px  5px 5px;
  }
  .nightlifeSearch {
    margin-top: 10px;
  }
  .nightlife{
    height: 500px !important;
  }
  .nightlifeSpacing{
    margin-left: 5%;
  }
}
@media screen and (max-width: 575px) {
  h2{
    margin-top: 30px;
  }
  .infoTicketSection{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .nightlifeItem h3{
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
  }
  .nightlifeItem p{

    text-align: center;
    color: white;
    margin-bottom: 6%;
    font-size: 3vw;
  }
  .nightlifeItem{
    clear: left;
    margin:0 auto;
    margin-bottom: 10%;
  }
  
 
  .nightlifeDropdown{
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .nightlife{
    height: 1800px !important;
  }
} 
@media screen and (max-width: 460px) {
  .nightlife{
    height: 1600px !important;
  }
}
@media screen and (max-width: 380px) {
  .nightlife{
    height: 1400px !important;
  }

}
/*=========================================
	Benefits For Users
==========================================*/
#benefitsForUsers{
  background-color: #32313A;
}
#benefitsForUsers h2{
  margin-top: 10vh;
}
.benefitsUsersContainer{
  overflow: hidden;
}
.benefitsItems{
  float: left;
  margin-top: 10%;
}
.benefitsItems img{
    margin-left: 20%;
    width: 60%;
}

.benefitsItems h3{
  margin-top: 10%;
  font-size: 1.6vw;
  text-align: center;
  font-weight: bold;
}
.benefitsItems p{
  text-align: center;
  color: white;
  font-style: italic;
  margin-top: 3%;
  font-weight: 400;
}
@media screen and (max-width: 767px) {

  .benefitsItems img{
    margin-left: 25%;
    width: 50%;
   }
.benefitsItems h3{
  font-size: 3.5vw;
  margin-top: 0;
}
}
@media screen and (max-width: 600px) {
.benefitsItems h3{
  font-size: 4vw;
}
}
@media screen and (max-width: 420px) {
.benefitsItems h3{
  font-size: 5vw;
}
}
/*=========================================
Party Account
==========================================*/
#partyAccount{
  background-color: #171527;
}
#partyAccount h2{
  margin-top: 10vh;
  margin-bottom: 10px;
}
.partyAccount p{
   color: white;
}
.buttonContainer{
  margin:0 auto;
  max-width: 520px !important;
}
.buttonContainer p{
  text-align: center;
}
.buttonContainer img{
  width: 15%;
  margin-left: 10px;
  cursor: pointer;
}
.accountButton{
    width: 100%;
    height: 70px;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}
.login{
  margin-top: 40px;
  background-image:linear-gradient(to right,#FFB443, #FF731E);
}
.signup{
  margin-top: 5%;
  background-color:#4F4F4F ;
  margin-bottom: 17%;
}



@media screen and (max-width: 390px) {
  .accountButton h3{
    font-size: 1.5rem;
  }
  .accountButton{
    height: 65px;
  }
} 


/*=========================================
footer
==========================================*/


.footer {
  margin:0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  height: auto;
}


.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}



.footer-single {
  line-height: 24px;
}


.footer-single li {
  line-height: 32px;
}

.footer-single p i {
  margin: 0 10px;
}

.footer-single img {
    width: 55px;
    margin-bottom: 4px;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: grey;
}
.right1{
  margin-top: 40px;
}
.copyright a{
  color: grey;
  text-decoration:underline;
  cursor: pointer;
}
.footerTextContainer{
     width: 30%;
     float: left;
}
.footerSpacing{
float: left;
  margin-left: 0 !important;
}
.socialMediaContainer{
 float: right;
}
.socialMediaContainer a{
  display: block;
   width: 40px;
   cursor: pointer;
}
.addMargin{
  margin-left: 3px;
}
#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}
@media screen and (max-width: 500px) {
  .footerTextContainer{
    width: 45%;
   }
}
/*=========================================
	Contact Us
==========================================*/
#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#navi {
  z-index: 1;
}

/*=========================================
	FOR OTHER PAGES
==========================================*/
.formSpace{
  padding:0 15px;
}