


/*=========================================
	About Tribed
==========================================*/
.aboutUs{
  overflow: hidden;
}
#aboutUs{
  width: 100%; height: 100%;
  background-image: url('../../img/page/about/about-bg.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: 50% 50%;
}
.aboutUs h2{
  margin-top: 5vh;
  margin-bottom: 8%;
}
.aboutLeft {
   float: left;
   width: 50%;
   margin-right:10%;
  
}
.aboutRight{
  float: right;
  width: 30%;
}
.aboutRight img{
  width: 65%;
  margin-top: -20%;
}
.aboutUs a{
  display: block;
    margin-top: 10%;
}
.viewButton{
    margin-top: 1%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .aboutRight img{
    width: 90%;
  } 
}
@media screen and (max-width: 960px) {
  .aboutUs h2{
    margin-top: 20%;
  }
  .aboutRight{
    width: 40%;
    margin-left: -10% ;
  } 
  .aboutRight img{
    margin-left: -5% ;
  } 
  .aboutLeft {
    width: 50%;
    margin-right:5%;
 }
  
}
@media screen and (max-width: 767px) {
  .aboutUs h2{
    margin-top: 25%;
  }
  .aboutRight{
    display:none;
  } 
  .aboutLeft {
    width: 90%;
  
 }
}
@media screen and (max-width: 575px) {
  .aboutUs h2{
    margin-left: 0%;
    margin-top: 20%;
  }
  .aboutRight{
    display:none;
  } 
  .aboutLeft {
    width: 100%;
    margin-top: 0%;
 }
}


/*=========================================
 KTH/ NEWS
==========================================*/
.news {
  overflow: hidden;
  width: 100%; height: 100%;
  background-image: url('../../img/page/about/kth-bg.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
}
.news h2{
  margin-bottom: 4%;
}
.newsLeft {
   float: left;
   width: 30%;
   margin-right:15%;
  
}
.newsRight{
  float: left;
  width: 40%;
}
.newsLeft img{
  width: 85%;
}
.news a{
  display: block;
    margin-top: 10%;
}
.viewButton{
    margin-top: 1%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .newsLeft img{
    width: 100%;
  } 
  .newsRight{
    width: 50%;
  }
}

@media screen and (max-width: 767px) {

  .newsRight{
    width: 90%;
  } 
  .newsLeft {
   display:none;
  
 }
}
@media screen and (max-width: 575px) {
  .news h2{
    margin-left: 0%;
  }

  .newsRight {
    width: 100%;
    margin-top: 0%;
 }
}
/*=========================================
team
==========================================*/
.team{
  overflow: hidden;
  background-color: #1F1F1F;
}

.teamItem{
  /* width:25% ;
  margin-left: 6.1%; */
  float: left;
  margin-top: 8%;
}
.teamItem:nth-child(5){
  clear: left;
}
.teamItem img{
  width:30% ;
  margin-left:35%;
  border-radius: 75%;
  margin-bottom: 5%;
}
.teamItem h3{
 text-align: center;
 margin-top: 2%;

}
.teamItem p{
  text-align: center;
  margin-top: 5%;
}
.teamText p{
  margin-left: 15%;
}
@media screen and (max-width: 1200px) {
  /* .teamText p{
    margin-left: 0;
  } */
  .teamItem img{
    width:40% ;
    margin-left:30%;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 991px) {
   .teamText p{
    margin-left: 0;
  } 
}
@media screen and (max-width: 767px) {
  .team h2{
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .teamItem{
    clear: left;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }
 .teamText{
    float: left;
    width: 70%;
    text-align: left;
  }
  .teamItem img{
    float: left;
    margin-left: 0;
    width: 18%;
    margin-right: 10%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575px) {
  .teamItem{
    margin-bottom: 15px;
  }

  .teamItem img{
    float: left;
    margin-left: 0;
    width: 20%;
    margin-right: 15%;
    margin-bottom: 40px;
  }
  .teamText{
    float: left;
    width: 60%;
    text-align: left;
  }
}
/*=========================================
contact
==========================================*/
.contact{
  overflow: hidden;
  background-color: #333333;
  position: relative;
}
.contact h2{
  margin-top: 3%;
}
.contact img{
  width: 12%;
  position: absolute;
  top: 11%;
  right:13%;
}
.contact button{
  margin-top: 5%;
  width:150px;
  background-image:linear-gradient(to right,#FFB443, #FF731E);
  color: white;
  border: none;
  padding: 11px 8px 11px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}
.contactForm{
  margin-top: 3%;
}
.contactItem{
  margin-bottom: 3%;
}
.contactName{
  height: 40px;
}
.contactEmail{
  height: 40px;
  width: 250px;
  
}
.contactPhone{
  height: 40px;
  width: 250px;
  margin-left: 2%;
}
.contactContent{
  height: 200px;
  width: 95%;
  
}
@media screen and (max-width: 960px) {
  
  .contact{
    height: 700px;
  }
}
@media screen and (max-width: 767px) {
  .contact h2{
    margin-top: 6%;
  }
  .contact img{
    width: 13%;
    top: 10%;
  }
  .contactForm{
    margin-top: 7%;
  }
  .contact{
    height: 650px;
  }
}
@media screen and (max-width: 634px) {
  .contactPhone{
    margin-left: 0%;
  }
  .contactContent{
    height: 200px;
    
}
@media screen and (max-width: 575px) {
  .contactForm{
    margin-top: 3%;
  }
  .contact{
    height: 650px;
  }
}

/*=========================================
	Contact Us
==========================================*/
#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#navi {
  z-index: 1;
}