


/*=========================================
	About Tribed
==========================================*/
.aboutUs{
  overflow: hidden;
}
#aboutUs{
  width: 100%; height: 100%;
  background-image: url('../../img/page/about/about-bg.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: 50% 50%;
}
.aboutUs h2{
  margin-top: 10vh;
  margin-bottom: 8%;
}
.aboutLeft {
   float: left;
   width: 60%;
}
.aboutRight{
  float: right;
  padding: 0;
}
.aboutRight img{
  width: 100%;
  margin-top: -25%;
}
.aboutUs a{
  display: block;
    margin-top: 10%;
}
.viewButton{
    margin-top: 1%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  .aboutRight{
    width: 85%;
  } 
}

@media screen and (max-width: 767px) {
  .aboutRight{
    display:none;
  } 
  .aboutLeft {
    width: 100%;
  
 }
}
@media screen and (max-width: 575px) {
  
  .aboutRight{
    display:none;
  } 
  .aboutLeft {
    margin-top: 0%;
 }
}


/*=========================================
 KTH/ NEWS
==========================================*/
.news {
  margin-top: -5px;
  overflow: hidden;
  width: 100%; height: 100%;
  background-image: url('../../img/page/about/kth-bg.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
}
.news h2{
  margin-bottom: 4%;
}
.newsLeft {
   float: left;
   width: 30%;
}
.newsRight{
  float: right;
  width: 40%;
}
.newsLeft img{
  width: 85%;
}
.news a{
  display: block;
    margin-top: 10%;
}
.viewButton{
    margin-top: 1%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .newsLeft img{
    width: 100%;
  } 
  .newsRight{
    width: 60%;
  }
}

@media screen and (max-width: 767px) {

  .newsRight{
    width: 100%;
  } 
  .newsLeft {
   display:none;
  
 }
}
@media screen and (max-width: 575px) {
  .news h2{
    margin-left: 0%;
  }

  .newsRight {
    width: 100%;
    margin-top: 0%;
 }
}
/*=========================================
team
==========================================*/
.team{
  overflow: hidden;
  background-color: #171527;
}
.team h2{
  text-align: center;
  margin-bottom:2vh;
  margin-top: 4vh;
}
.teamItem{
  float: left;
  margin-top: 6%;
}
.teamItem:nth-child(5){
  clear: left;
}
.teamItem img{
  width:30% ;
  margin-left:35%;
  border-radius: 75%;
  margin-bottom: 5%;
}
.teamItem h3{
 text-align: center;
 margin-top: 2%;

}
.teamItem p{
  text-align: center;
  margin-top: 5%;
}
.teamText p{
  margin-left: 15%;
}
@media screen and (max-width: 1200px) {
  /* .teamText p{
    margin-left: 0;
  } */
  .teamItem img{
    width:40% ;
    margin-left:30%;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 991px) {
   .teamText p{
    margin-left: 0;
  } 
}
@media screen and (max-width: 767px) {
  .team h2{
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .teamItem{
    clear: left;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }
 .teamText{
    float: left;
    width: 70%;
    text-align: left;
  }
  .teamItem img{
    float: left;
    margin-left: 0;
    width: 18%;
    margin-right: 10%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575px) {
  .teamItem{
    margin-bottom: 15px;
  }

  .teamItem img{
    float: left;
    margin-left: 0;
    width: 20%;
    margin-right: 15%;
    margin-bottom: 40px;
  }
  .teamText{
    float: left;
    width: 60%;
    text-align: left;
  }
}

/*=========================================
contact
==========================================*/
.contact{
  overflow: hidden;
  background-color: #32313A;
  position: relative;
}
.contact h2{
  margin-top: 3%;
}
.contact p{
  color: white;
}
.contactContainer{
  overflow: hidden;
}

.contact button{
  margin-top: 5%;
  width:150px;
  background-image:linear-gradient(to right,#FFB443, #FF731E);
  color: white;
  border: none;
  padding: 11px 8px 11px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}
.contactForm{
  float: left;
  margin-top: 5%;
  width: 50%;
}
.contact img{
  float: right;
  padding: 0;
  margin-top: 20px;
}
.contactItem{
  margin-bottom: 3%;
  outline: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

   /* border: none;
    cursor: pointer;
    background-color:transparent;
    border: solid 1.3px white; */
}
.contactName{
  height: 40px;
  width: 100%;
}
.contactEmail{
  height: 40px;
  width: 48%;
  
}
.contactPhone{
  height: 40px;
  width: 47.9%;
  margin-left: 3%;
}
.contactContent{
  padding:10px 0 120px 15px ;
  width: 100%;
  
}
@media screen and (max-width: 767px) {
  .contact img{
    visibility: hidden;
  }
  .contactForm{
    width: 100%;
  }
  .contact h2{
      margin-top: 6%;
  }
  .contactForm{
      margin-top: 7%;
  }
  .contact{
    height: 700px;
  }
}

@media screen and (max-width: 575px) {
 .contact{
   height: 650px;
 }
 .contactPhone{
  margin-left: 2%;
}
}

/*=========================================
	Contact Us
==========================================*/
#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#navi {
  z-index: 1;
}