
/* =================================== */
/*	Basic Style 
/* =================================== */

body {
    background-color: #fff;
    font-family:  'Nunito Sans', sans-serif;
    line-height: 21px;
	  font-size: 14px;
    color: white;
    overflow-x: hidden;
}

.container-fluid {
    max-width: 1280px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
h2{
  color:white;
  font-size: 3rem;
  font-weight: 800;
}
h3{
  color: white;
  font-size: 2.1rem;
  font-weight: 600;
}
p{
  color:;white
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

span.color {
	color: #bf0d3e;
}

body > section,
.footer {
	padding: 70px 0;
}

.img-logo {
    padding-top: 5px;
    width: 276px;
}

.sec-title {
    width:100%;
}

.sec-title h2 {
  color: #bf0d3e;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
	margin: 35px 0 45px;
    width:100%;
}

.sec-sub-title p {
    font-size: 17px;
    line-height: 31px;
    font-weight: 400;
	color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

@media screen and (max-width: 767px) {
    .devider:before,
    .devider:after {
      content: "__________________";
      color: #e6e8ea;
      position: relative;
      bottom: 6px;
    }
}

@media screen and (min-width: 768px) {
    .devider:before,
    .devider:after {
        content: "______________________";
        color: #e6e8ea;
        position: relative;
        bottom: 6px;
    }
}
.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
  background-color: #ffffff;/*#f3f3f3;*/
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
  max-width: 100%;
}

#preloader img {
    margin-top: 17vh;
    /*box-shadow: 0 0 0 rgba(76, 80, 160, 0.3);*/
    /* animation: pulse 2s infinite; */
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.3);
  }
  70% {
      -webkit-box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.3);
    box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
      box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
      box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
  }
}

.box{
 margin:0;
 width: 100%;
 min-height: 100vh;
 padding: 5% 8%;
}
.boxSpecial{
  margin:0;
  width: 100%;
  height: 100vh;
  padding: 5% 8%;
 }
/*=========================================
	Header
==========================================*/



.businessButton{
  margin-left:5%;
  margin-top: -13%;
  width:190%;
  background-image:linear-gradient(to right,#C8B266, #B66D43);
  color: white;
  border: none;
  padding: 8px 0 9px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
  
}
.businessButton:hover{
  background-image:linear-gradient(to right,#FFB443, #FF731E);
}
.navbar-right{
  width: 57%;
}
.linkfix-business li a{
  padding-left: 0px !important;
}



#navigation {
  background-color: rgb(10, 10, 10);
  border: 0 none;
  margin: 0;
  
    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}
.navbar{
  min-height: 70px;
}
.navbar-toggle i {
	color: #fff;
}

.navbar-brand {
  padding: 0;
  padding-top: 10px;
  cursor: pointer; 
}

.collapse.in.navbar-collapse {
    border-style: solid;
    border-color: #fff;
    background: #3e3e3e;
    border-width: thin;
}

.collapsing.navbar-collapse {
    border-style: solid;
    border-color: #fff;
    background: #3e3e3e;
    border-width: thin;
}
.navbar-nav li a {
    font-size: 1.5rem;
	  border-top: 1px solid transparent;
    color: #fff;
    font-weight: 600 !important;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer; 
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	background-color: transparent;
	border-top: 2px solid #fff;
	color: #fff;
}

@media screen and (max-width: 1150px) {
  .navbar-nav{
     margin-left: -15%;
  }
  .navbar-nav li a {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 35px;
  }
  .businessButton{
    width:170%;
    padding: 8px 0 9px 0px;
    font-size: 16px;
  }


}
@media screen and (max-width: 1000px) {
  .businessButton{
    margin-left:0%;
  }
    .container {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
}
@media screen and (max-width: 767px) {
  .businessButton{
    width:90%;
    margin-left:-33%;
  }
  .navbar-right{
    width: 100% !important;
  }

  .navbar-nav li a {
    padding-left: 52%;
  }
}
@media screen and (max-width: 575px) {
  .navbar-brand{
    margin-left:5%;
  }
}


/*=========================================
	Slider
==========================================*/
#landingVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100vh;
  filter: brightness(30%);
  z-index: -1;
}
.itemsOnLanding h1 img{
  margin-top: 20px;
  margin-left:10px;
  width: 10px;
}
.itemsOnLanding{
  z-index:1;
  position: absolute;
  top: 20%;
  left: 8%;
  width: 100%;
  color: white;
}
.itemsOnLanding h1{
  font-size: 6rem;
  font-weight: bold;
  width: 40%;
}
.itemsOnLanding p{
  padding-top: 10px;
  font-size: 1.5rem;
}
.downloadButtons{
 margin-left: 60%;
 margin-top: 15%;
 margin-right: 10%;
}
.downloadButtons a{
  display: block;
 margin-top: 5%;
 cursor: pointer; 
}
.downloadButtons a img{
  width: 70%;
  display: block;
  
}


@media screen and (max-width: 767px) {
  .itemsOnLanding h1{
    font-size: 5rem;
  }
  .itemsOnLanding{
    width: 110%;
  }
  .downloadButtons{
    margin-left: 45%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 575px) {
  .downloadButtons a img{
    width: 100%;
  
  }
  .downloadButtons{
    margin-left: 40%;
    margin-right: 35%;
  }
  .itemsOnLanding{
    width: 130%;
  }
  .itemsOnLanding h1{
    font-size: 4rem;
  }
} 


#slider {
	padding: 0;
   
}

#slider .carousel-inner .item {
    background-size: cover;
    background-position-x: center;
}
.space-150 {
    padding-bottom: 150px;
    background-color: #2c2f31;
}
.space-200 {
    padding-bottom: 200px;
    background-color: #2c2f31;
}
/*
.carousel-caption-left {
  left: 25%;
}

.carousel-caption {
  top: 50%;
}*/

.main-title {
    position: absolute;
    top: 40%;
    /*left: 10%;*/
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.main-title h2 {
    font-size: 48px;
    font-weight: 300;
}

.main-title h2 span {
    font-weight: 800;
}

.main-title h3 {
    font-size: 32px;
    font-weight: 400;
    margin: 6px 0 20px;
}

.main-title p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.main-title p:before,
.main-title p:after {
    color: #bf0d3e;
    content: "___";
    position: relative;
    top: -8px;
}

.main-title p:before {
    right: 20px;
}

.main-title p:after {
    left: 20px;
}


.carousel-caption {
    margin-left: 10%;
    margin-right: 10%;
    background: #000000c2;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 20px;
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
color: #bf0d3e;
content: "___";
position: relative;
top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}


@media screen and (max-width: 767px) {
    .carousel-item-1-img{
        background-image: url(../img/carousel-mobile-1-720-1280.png);
    }
    .carousel-item-2-img{
        background-image: url(../img/carousel-mobile-1-720-1280.png);
    }
    .carousel-item-3-img{
        background-image: url(../img/carousel-mobile-1-720-1280.png);
    }
    .product-item-1-img {
        background-image: url(../img/pitch/nightli-pyramid-small.jpg);
        height: 200px;
    }
}

@media screen and (min-width: 768px)  {
    .carousel-item-1-img{
        background-image: url(../img/carousel-mobile-1-720-1280.png);
    }
    .carousel-item-2-img{
        background-image: url(../img/carousel-mobile-1-720-1280.png);
    }
    .carousel-item-3-img{
        background-image: url(../img/carousel-mobile-1-720-1280.png);
    }

    .product-item-1-img {
        background-image: url(../img/pitch/nightli-pyramid-small.jpg);
        height: 200px;
    }
}
@media (min-width: 992px) {
    .carousel-item-1-img{
        background-image: url(../img/carousel-mobile-1-1280-720.png);
    }
    .carousel-item-2-img{
        background-image: url(../img/carousel-mobile-1-1280-720.png);
    }
    .carousel-item-3-img{
        background-image: url(../img/carousel-mobile-1-1280-720.png);
    }
    .product-item-1-img {
        background-image: url(../img/pitch/nightli-pyramid-large.jpg);
        height: 500px;
    }
}

@media (min-width: 1919px) {
    .carousel-item-1-img{
        background-image: url(../img/carousel-mobile-1-1280-720.png);
    }
    .carousel-item-2-img{
        background-image: url(../img/carousel-mobile-1-1280-720.png);
    }
    .carousel-item-3-img{
        background-image: url(../img/carousel-mobile-1-1280-720.png);
    }
    .product-item-1-img {
        background-image: url(../img/pitch/nightli-pyramid-large.jpg);
        height: 500px;
    }
}

.social-links {
  margin-top: 5%;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #fff;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}


/*=========================================
	About Tribed
==========================================*/
.aboutUs{
  overflow: hidden;
}
.aboutUs::before {
  content: "";
  position: absolute;
  background-position: 50% 50%;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../../img/page/about/about-bg.jpg');
  filter: brightness(9%);
  background-repeat:no-repeat ;
  background-size: cover;
  z-index: -1;
}
.aboutUs h2{
  margin-top: 15%;
  margin-bottom: 8%;
}
.aboutLeft {
   float: left;
   width: 50%;
   margin-right:10%;
  
}
.aboutRight{
  float: right;
  width: 30%;
}
.aboutRight img{
  width: 65%;
  margin-top: -20%;
}
.aboutUs a{
  display: block;
    margin-top: 10%;
}
.viewButton{
    margin-top: 1%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .aboutRight img{
    width: 90%;
  } 
}
@media screen and (max-width: 960px) {
  .aboutUs h2{
    margin-top: 20%;
  }
  .aboutRight{
    width: 40%;
    margin-left: -10% ;
  } 
  .aboutRight img{
    margin-left: -5% ;
  } 
  .aboutLeft {
    width: 50%;
    margin-right:5%;
 }
  
}
@media screen and (max-width: 767px) {
  .aboutUs h2{
    margin-top: 25%;
  }
  .aboutRight{
    display:none;
  } 
  .aboutLeft {
    width: 90%;
  
 }
}
@media screen and (max-width: 575px) {
  .aboutUs h2{
    margin-left: 0%;
    margin-top: 20%;
  }
  .aboutRight{
    display:none;
  } 
  .aboutLeft {
    width: 100%;
    margin-top: 0%;
 }
}


/*=========================================
 KTH/ NEWS
==========================================*/
.news{
  overflow: hidden;
 
}
.news::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../../img/page/about/kth-bg.jpg');
  filter: brightness(15%);
  background-repeat:no-repeat ;
  background-size: cover;
  margin-top: 100vh;
  z-index: -1;
}
.news h2{
  margin-top: 15%;
  margin-bottom: 8%;
}
.newsLeft {
   float: left;
   width: 30%;
   margin-right:15%;
  
}
.newsRight{
  float: left;
  width: 40%;
}
.newsLeft img{
  width: 85%;
}
.news a{
  display: block;
    margin-top: 10%;
}
.viewButton{
    margin-top: 1%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 10px 10px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1200px) {
  .newsLeft img{
    width: 100%;
  } 
  .newsRight{
    width: 50%;
  }
}
@media screen and (max-width: 960px) {
  .news h2{
    margin-top: 20%;
  }
}
@media screen and (max-width: 767px) {
  .news h2{
    margin-top: 25%;
  }
  .newsRight{
    width: 90%;
  } 
  .newsLeft {
   display:none;
  
 }
}
@media screen and (max-width: 575px) {
  .news h2{
    margin-left: 0%;
    margin-top: 20%;
  }

  .newsRight {
    width: 100%;
    margin-top: 0%;
 }
}
/*=========================================
team
==========================================*/
.team{
  overflow: hidden;
  background-color: #1F1F1F;
}

.teamItem{
  width:25% ;
  margin-left: 6.1%;
  float: left;
  margin-top: 8%;
}
.teamItem:nth-child(5){
  clear: left;
}
.teamItem img{
  width:30% ;
  margin-left:35%;
  border-radius: 75%;
  margin-bottom: 5%;
}
.teamItem h3{
 text-align: center;
 margin-top: 2%;

}
.teamItem p{
  text-align: center;
  margin-top: 5%;
}
@media screen and (max-width: 1200px) {

  .teamItem img{
    width:40% ;
    margin-left:30%;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 767px) {
  .team h2{
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .teamItem{
    clear: left;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }
 .teamText{
    float: left;
    width: 40%;
    text-align: left;
  }
  .teamItem img{
    float: left;
    margin-left: 0;
    width: 18%;
    margin-right: 10%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575px) {
  .teamItem{
    margin-bottom: 15px;
  }

  .teamItem img{
    float: left;
    margin-left: 0;
    width: 20%;
    margin-right: 15%;
    margin-bottom: 40px;
  }
}
/*=========================================
contact
==========================================*/
.contact{
  overflow: hidden;
  background-color: #333333;
  position: relative;
}
.contact h2{
  margin-top: 3%;
}
.contact img{
  width: 12%;
  position: absolute;
  top: 11%;
  right:13%;
}
.contact button{
  margin-top: 5%;
  width:150px;
  background-image:linear-gradient(to right,#FFB443, #FF731E);
  color: white;
  border: none;
  padding: 11px 8px 11px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}
.contactForm{
  margin-top: 3%;
}
.contactItem{
  margin-bottom: 3%;
}
.contactName{
  height: 40px;
}
.contactEmail{
  height: 40px;
  width: 250px;
  
}
.contactPhone{
  height: 40px;
  width: 250px;
  margin-left: 2%;
}
.contactContent{
  height: 200px;
  width: 95%;
  
}
@media screen and (max-width: 960px) {
  
  .contact{
    height: 700px;
  }
}
@media screen and (max-width: 767px) {
  .contact h2{
    margin-top: 6%;
  }
  .contact img{
    width: 13%;
    top: 10%;
  }
  .contactForm{
    margin-top: 7%;
  }
  .contact{
    height: 650px;
  }
}
@media screen and (max-width: 611px) {
  .contactPhone{
    margin-left: 0%;
  }
  .contactContent{
    height: 200px;
    
}
@media screen and (max-width: 575px) {
  .contactForm{
    margin-top: 3%;
  }
  .contact{
    height: 650px;
  }
}
/*=========================================
footer
==========================================*/


.footer {
  margin:0;
 width: 100%;
 
 padding: 5% 8%;
  background-color: #000000;
  color: #fff;
  padding-top: 5%;
}


.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}



.footer-single {
  line-height: 24px;
}


.footer-single li {
  line-height: 32px;
}

.footer-single p i {
  margin: 0 10px;
}

.footer-single img {
    width: 55px;
    margin-top: 5px;
    margin-left: 20%;
    margin-bottom: 4px;
}

/* @media screen and (max-width: 767px) {
    .footer-logo {
        text-align: l;
    }
}
@media screen and (min-width: 767px) {
    .footer-logo {
        text-align: right;
    }
} */
.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: grey;
}
.right1{
  margin-top: 40px;
}
.copyright a{
  color: grey;
  text-decoration:underline;
  cursor: pointer;
}
.footerTextContainer{
     width: 30%;
}
.socialMediaContainer{
 margin-left: 45%;
}
.socialMediaContainer a{
  display: block;
   width: 40px;
   cursor: pointer;
}
.addMargin{
  margin-left: 3px;
}
#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}

@media screen and (max-width: 767px) {

  .socialMediaContainer{
    margin-left: 40%;
   }
   .footerTextContainer{
    margin-left: -30%;
   }
  
   .footer-single img {
    margin-left: -5%;
   }
}
@media screen and (max-width: 575px) {
  .footerTextContainer{
    margin-left: -80%;
   }
   .footerTextContainer{
    width: 50%;
}
.socialMediaContainer{
  margin-left: 10%;
 }
} 

/*=========================================
	Contact Us
==========================================*/
#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#navi {
  z-index: 1;
}
