
/*=========================================
	Business Landing
==========================================*/
.businessLanding{
    overflow: hidden;
  }
.businessLanding::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../../img/page/business/business-bg.jpg');
    background-position: 50% 50%;
    filter: brightness(50%);
    background-repeat:no-repeat ;
    background-size: cover;
    z-index: -1;
  }
  .businessText{
      width: 35%;
      margin-top: 7%;
      color: white;
  }
  .demo{
    margin-left: 75%;
    margin-top: 22%;
    margin-right: 10%;
    width:200px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 13px 13px 13px 13px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
  }

  .businessLanding h1{
    z-index:1;
    font-size: 6rem;
    font-weight: bold;
    width: 40%;
    margin-bottom: 2%;
  }
  .businessLanding p{
    padding-top: 10px;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 1200px) {
    .businessText{
        margin-top: 11%;
    }
 
  }  
  @media screen and (max-width: 960px) {
  
  .businessText{
      margin-top: 15%;
      width: 45%;
  }

  .demo{
    margin-left: 65%;
   margin-top: 25%;
  }
}
  
  @media screen and (max-width: 767px) {
 
      .businessLanding h1{
      font-size: 5rem;
    }
      .businessLanding{
      width: 100%;
    }
    .businessText{
        margin-top: 20%;
        width: 75%;
    }
  
    .demo{
      margin-left: 55%;
     margin-top: 30%;
    }
  }
  @media screen and (max-width: 575px) {
    .businessLanding {
        height: 550px;
    }
    .demo{
      margin-left: 0%;
      margin-top: 15%;
    }
    .businessText{
        width: 90%;
        margin-top: 30%;
    }
    .businessLanding h1{
      font-size: 4rem;
    }
  } 

/*=========================================
Benefits For Business
==========================================*/
  #benefitsForBusiness{
    background-color: #1F1F1F;
  }
  .benefitsBusinessContainer{
    margin-top: 5%;
  }
  .benefitsBusinessItem{
     width: 100%;
     overflow: hidden;
     margin-top: 4%;
  }
  .benefitsBusinessItem img{
      float: left;
      width: 15%;
  }
  .benefitsBusinessText{
    margin-top: 3%;
    float: left;
    width: 75%;
  }
  .bene4,.bene6{
    margin-left: 7%;

  }
  .bene5,.bene7{
   margin-right: 7%;
  }
  .benefitsBusinessItem p{
    color: white;
    font-style: italic;
    margin-top: 3%;
    font-weight: 400;
  }
  @media screen and (max-width: 1000px) {
    .benefitsBusinessItem img{
      width: 19%;
    }
    .benefitsBusinessText{
      margin-top: 3%;
      float: left;
      width: 70%;
    }
  }
  @media screen and (max-width: 767px) {
    .benefitsBusinessItem img{
      width: 23%;
    }
    .benefitsBusinessText{
      margin-top: 3%;
      float: left;
      width: 70%;
    }
    #benefitsForBusiness h2{
      margin-top: 4%;
    }
    .benefitsBusinessItem{
      margin-top: 6%;
    }
 
  }

  @media screen and (max-width: 575px) {
    
    .benefitsBusinessItem img{
      width: 30%;
      margin-top: 3%;
    }
    .benefitsBusinessText{
      width: 50%;
    }
   
  }


/*=========================================
contact
==========================================*/
.contact{
    overflow: hidden;
    background-color: #333333;
    position: relative;
  }
  .contact h2{
    margin-top: 3%;
  }
  .contact p{
    color: white;
  }
  .contact img{
    width: 13%;
    position: absolute;
    top: 14%;
    right:13%;
  }
  .contact button{
    margin-top: 5%;
    width:150px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 11px 8px 11px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
  }
  .contactForm{
    margin-top: 5%;
  }
  .contactItem{
    margin-bottom: 3%;
  }
  .contactName{
    height: 40px;
  }
  .contactEmail{
    height: 40px;
    width: 250px;
    
  }
  .contactPhone{
    height: 40px;
    width: 250px;
    margin-left: 2%;
  }
  .contactContent{
    height: 200px;
    width: 95%;
    
  }
  @media screen and (max-width: 767px) {
    .contact img{
      top: 10%;
     width: 13%;
    }
    .contact h2{
        margin-top: 6%;
    }
    .contactForm{
        margin-top: 7%;
    }
    .contact{
      height: 700px;
    }
  }
  @media screen and (max-width: 611px) {
    .contactPhone{
      margin-left: 0%;
    }
  }
  @media screen and (max-width: 575px) {
   .contact{
     height: 650px;
   }
  }
/*=========================================
Business Account
==========================================*/
.businessAccount{
    background-color: #1F1F1F;
    min-height: 90vh !important;
  }
  .businessAccount p{
     color: white;
  }
  .buttonContainer{
    width:45%;
    margin:0 auto;
  }
  .buttonContainer p{
    margin-top: 10%;
    margin-left: 25%;
  }
  .buttonContainer img{
    width: 50px;
    margin-top:-10px ;
    cursor: pointer;
  }
  .accountButton{
      width: 100%;
      height: 90px;
      border: none;
      padding: 10px 10px 8px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 50px;
      transition: all 250ms ease-in-out;
  }
  .login{
    margin-top: 30%;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
  }

  @media screen and (max-width: 1200px) {
    .buttonContainer{
      width:55%;
      margin:0 auto;
    }
  }
  @media screen and (max-width: 960px) {
    .buttonContainer{
      width:65%;
      margin:0 auto;
    }
  }
  @media screen and (max-width: 767px) {
    .accountButton{
        height: 80px;
    }
    .buttonContainer{
        width:75%;
        margin:0 auto;
      }
  
  }
 
  @media screen and (max-width: 575px) {
    .accountButton{
        height: 60px;
    }
    .accountButton h3{
       font-size: 1.7rem;
      }
      .buttonContainer{
        width:70%;
      }
      .login{
        margin-top: 40%;
      }
 
  }
  @media screen and (max-width: 400px) {
      .login{
        margin-top: 50%;
      }
 
  }