
/*=========================================
 Account login
==========================================*/
#accountTextBold{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
#accountTextSmall{
    font-size: 14px;
    color: white;
}
#accountTextSmallOrange{
    font-size: 14px;
    color: #FEB72E;
}
#accountTextSmallGrey{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 11px;
    color:#787878;
}
#accountTextSmallGrey a{
    text-decoration: underline;
    color:#787878;
}
.accountLogin{
    overflow: hidden;
    background-color: #171527;
    text-align: center;
}

.accountLoginContainer{
    max-width: 350px;
    margin: 0 auto;
}
.accountLoginContainer h2{
    margin-top: 7%;
    overflow:hidden;
}
.loginFacebook{
        width: 100%;
        height: 60px;
        margin:0 auto;
        border: none;
        padding: 10px 10px 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        transition: all 250ms ease-in-out;
        margin-top: 12%;
        background-color:#5067B7;
        margin-bottom: 6%;
}
.line{
    border-top:solid 2px #787878 ;
    width: 39.6%;
    display: inline-block;
    float:left;
    margin:0;
    margin-top: 9px;
    margin-bottom: 3%;
}
.or{ 
    float: left;
    margin:0 7.5%;
}



.accountItem{
    width: 100%;
    height: 60px;
    margin:0 auto;
    border: none;
    padding: 10px 0px 10px 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
    margin-top: 5%;
    /* background-color:transparent;
    border: solid 1.3px white; */
}

  
.accountMiddleFormContainer{
    overflow: hidden;
    width: 100%;
    margin-top:3%;
    margin-bottom: 5%;
}
.checkBoxText{
   float: left;
   margin-top: 4%;
   margin-left: 2%;
}
.checkBoxButton{
    float: left;
    margin-top: 1%;
    margin-left: 30%;
    /* width:120px; */
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 8px 6px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
  }
.loginSpace{
    float: left;
    padding:0;
}
.checkBox{
    margin-top: 5% !important;
    float: left;
    width: 25px;
}
.accountBottom{
    margin-top: 5%;
}
.accountBottom hr{
    border-color: #787878;
}

.signupButton{
    width: 100%;
    height: 60px;
    margin:0 auto;
    border: none;
    padding: 10px 10px 8px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
    margin-top: 5%;
    background-color:transparent;
    border: solid 1.3px;
    margin-bottom: 1%;
}


.accountBottom a:hover {
     color: #FEB72E; 
     text-decoration:none; 
     cursor:pointer;  
}
.signupButton:hover{
  border-color: #FEB72E !important;
}
#hr1{
    margin-top:8% ;
    margin-bottom:6% ;
 }
 
#hr2{
   margin-top: 5%;
   margin-bottom: 3%;
}



@media screen and (max-width: 676px) {
    .accountLoginContainer h2{
        margin-top: 25%;
    }
}

@media screen and (max-width: 450px) {
    .accountLoginContainer{
        width: 82%;
    }
    .or{
        margin: 0 4%;
    }
    .checkBoxButton{
        margin-left: 20%;
    }
   
}

