/* =================================== */
/*	Basic Style 
/* =================================== */

body {
    background-color: #fff;
    font-family:  'Nunito Sans', sans-serif;
    line-height: 21px;
	  font-size: 13px;
    color: #6a737b;
    overflow-x: hidden;
}

.container-fluid {
    max-width: 1280px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
h2{
  color:white;
  font-size: 3rem;
  font-weight: 800;
}
h3{
  color: white;
  font-size: 2.1rem;
  font-weight: 600;
}
p{
  color:;white
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

span.color {
	color: #bf0d3e;
}

body > section,
.footer {
	padding: 70px 0;
}

.img-logo {
    padding-top: 5px;
    width: 276px;
}

.sec-title {
    width:100%;
}

.sec-title h2 {
  color: #bf0d3e;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
	margin: 35px 0 45px;
    width:100%;
}

.sec-sub-title p {
    font-size: 17px;
    line-height: 31px;
    font-weight: 400;
	color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

@media screen and (max-width: 767px) {
    .devider:before,
    .devider:after {
      content: "__________________";
      color: #e6e8ea;
      position: relative;
      bottom: 6px;
    }
}

@media screen and (min-width: 768px) {
    .devider:before,
    .devider:after {
        content: "______________________";
        color: #e6e8ea;
        position: relative;
        bottom: 6px;
    }
}
.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
  background-color: #ffffff;/*#f3f3f3;*/
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
  max-width: 100%;
}

#preloader img {
    margin-top: 17vh;
    /*box-shadow: 0 0 0 rgba(76, 80, 160, 0.3);*/
    /* animation: pulse 2s infinite; */
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.3);
  }
  70% {
      -webkit-box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.3);
    box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
      box-shadow: 0 0 0 2px rgba(76, 80, 160, 0.1);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
      box-shadow: 0 0 0 0 rgba(76, 80, 160, 0.1);
  }
}

.box{
 margin:0;
 width: 100%;
 min-height: 100vh;
 padding: 5% 8%;
}
/*=========================================
	Header
==========================================*/



.businessButton{
  margin-left:5%;
  margin-top: -13%;
  width:190%;
  background-image:linear-gradient(to right,#C8B266, #B66D43);
  color: white;
  border: none;
  padding: 8px 0 9px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
  
}
.businessButton:hover{
  background-image:linear-gradient(to right,#FFB443, #FF731E);
}
  .navbar-right{
    width: 57%;
  }
  .linkfix-business li a{
    padding-left: 0px !important;
  }
  
  
  
  #navigation {
    background-color: rgb(10, 10, 10);
    border: 0 none;
    margin: 0;
    
      -webkit-transition: background-color 800ms linear;
         -moz-transition: background-color 800ms linear;
          -ms-transition: background-color 800ms linear;
           -o-transition: background-color 800ms linear;
              transition: background-color 800ms linear;
  }
  .navbar{
    min-height: 70px;
  }
  .navbar-toggle i {
      color: #fff;
  }
  
  .navbar-brand {
    padding: 0;
    padding-top: 10px;
    cursor: pointer; 
  }
  
  .collapse.in.navbar-collapse {
      border-style: solid;
      border-color: #fff;
      background: #3e3e3e;
      border-width: thin;
  }
  
  .collapsing.navbar-collapse {
      border-style: solid;
      border-color: #fff;
      background: #3e3e3e;
      border-width: thin;
  }
  .navbar-nav li a {
      font-size: 1.5rem;
        border-top: 1px solid transparent;
      color: #fff;
      font-weight: 600;
      padding-top: 25px;
      padding-left: 35px;
      padding-right: 35px;
      cursor: pointer; 
  }
  
  .navbar-nav li a.current,
  .navbar-nav li a:focus,
  .navbar-nav li a:hover {
      background-color: transparent;
      border-top: 2px solid #fff;
      color: #fff;
  }
  
  @media screen and (max-width: 1150px) {
    .navbar-nav{
       margin-left: -15%;
    }
    .navbar-nav li a {
      padding-top: 25px;
      padding-left: 20px;
      padding-right: 35px;
    }
    .businessButton{
      width:170%;
      padding: 8px 0 9px 0px;
      font-size: 16px;
    }
  
  
  }
  @media screen and (max-width: 1000px) {
    .businessButton{
      margin-left:0%;
    }
      .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
  }
  @media screen and (max-width: 767px) {
    .businessButton{
      width:90%;
      margin-left:-33%;
    }
    .navbar-right{
      width: 100% !important;
    }
  
    .navbar-nav li a {
      padding-left: 52%;
    }
}
@media screen and (max-width: 575px) {
  .navbar-brand{
    margin-left:5%;
  }
  
}
  
  
/*=========================================
 Account signup
==========================================*/
#goBack{
  margin-top: 5%;
  margin-left: 15%;
  display:block;
  cursor: pointer;
  text-align: left;
}
#goBack img{
  width: 50px;
 
}
#accountTextBold{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
#accountTextSmall{
    font-size: 14px;
    color: white;
}
#accountTextSmallOrange{
    font-size: 14px;
    color: #FEB72E;
}
#accountTextSmallGrey{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color:#787878;
}
#accountTextSmallGrey a{
    text-decoration: underline;
    color:#787878;
}
.accountLogin{
    overflow: hidden;
    background-color: #1F1F1F;
    text-align: center;
}

.accountLoginContainer{
  
    width: 370px;
    margin:0 auto;
}
.accountLoginContainer h2{
    margin-top: 5%;
    overflow:hidden;
}
.loginFacebook{
        width: 100%;
        height: 60px;
        margin:0 auto;
        border: none;
        padding: 10px 10px 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        transition: all 250ms ease-in-out;
        margin-top: 12%;
        background-color:#5067B7;
        margin-bottom: 6%;
}
.line{
    border-top:solid 2px #787878 ;
    width: 40%;
    display: inline-block;
    float: left;
    margin:0;
    margin-top: 9px;
    margin-bottom: 8%;
}
.or{ 
    float: left;
    margin:0 7.5%;
}



.accountItem{
    margin-bottom: 3%;
    height: 60px;
    width: 100%;
    margin-top: 2%;
}
  
.accountMiddleFormContainer{
    overflow: hidden;
    width: 100%;
    margin-top:3%;
    margin-bottom: 5%;
}
.checkBoxText{
   float: left;
   margin-top: 4%;
   margin-left: 2%;
}
.checkBoxButton{
    float: right;
    margin-right: 0%;
    margin-top: 1%;
    width:120px;
    background-image:linear-gradient(to right,#FFB443, #FF731E);
    color: white;
    border: none;
    padding: 8px 6px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
  }
.checkBox{
    float: left;
    width: 25px;
}
.accountBottom{
    margin-top: 5%;
}
.accountBottom hr{
    border-color: #787878;
    border: solid 1.3px;
}
.signupButton{
    width: 100%;
    height: 60px;
    margin:0 auto;
    border: none;
    padding: 10px 10px 8px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
    margin-top: 5%;
    background-color:transparent;
    border: solid 1.3px;
    margin-bottom: 6%;
}
#hr1{
    margin-top:8% ;
    margin-bottom:8% ;
 }
 
#hr2{
   margin-top: 5%;
   margin-bottom: 3%;
}



@media screen and (max-width: 676px) {
    .accountLoginContainer h2{
      
    }
    #goBack{
      margin-left: 0%;
      margin-top: 10%;}
}
  
@media screen and (max-width: 450px) {
  #goBack{

    margin-top: 18%;}
    .accountLoginContainer{
        width: 320px;
    }
    .or{
        margin: 0 4%;
    }
    .checkBoxButton{
        margin-left:24%;
    }
}


/*=========================================
	form
==========================================*/

/* 

.login-form h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 25px;
}

.login-form .input-group {
    width: 100%;
}

.login-form .form-control {
    border-color: -moz-use-text-color -moz-use-text-color #cccccc;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    margin-bottom: 10px;
}

.login-form .input-field {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login-form .input-field:last-child {
    margin-right: 0;
}

.login-form .form-control.error {
    border-bottom-color: #c0392b;
}

.login-form #form-submit {
    background: url("../../img/envelop.png") no-repeat scroll 0 15px transparent;
    border: 0 none;
    color: #fefefe;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-align: right;
    width: 85px;
}


label.error {
    color: #c0392b;
    font-weight: normal;
    text-transform: capitalize;
} */
